
.label {
    -fx-text-fill: red;
}

.text-field {
    -fx-border-radius: 0.5;
}
.grid-button {
    -fx-background-color: inherit;
    -fx-border-color: #cecece;
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-effect: innershadow( three-pass-box , rgba(122,14,176,1), 10, 0, 0, 0 );
}

.grid-button:disabled, .grid-button:disabled > * {
    -fx-border-color: #7A0EB0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-border-style: solid;
    -fx-opacity: 1.0;
}

.X:disabled {
    -fx-effect: innershadow( three-pass-box , rgba(20,4,138,1), 20, 0.3, 0, 0 );
}
.Y:disabled {
    -fx-effect: innershadow( three-pass-box , rgba(140,3,3,1), 20, 0.3, 0, 0 );
}
.winner {
    -fx-effect: innershadow( three-pass-box , rgba(0,171,132,1), 50, 0.4, 0, 0 );
}

